/* styles.css */
.result-hidden {
    display: none;
}


body {
    font-family: 'Arial', sans-seriff;
    background-image: url("/images/pink-fire.jpg");
    background-color: #fffffe;
    color: #fffffe;
}


#questions-container {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);

}

#questions-container h1 {
  
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: white;
    animation: neon 3s infinite;

}

:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }
  
  
  .rubrik-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  /*
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }  ---*/

#next-button {
    background: #121212;
    color: #fffffe;
    border: 2px solid;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;

}

#next-button:hover {
    background-color: #FF9E9E;
    color: #fffffe;
    
}


/* Style for the question container */
.question {/* Set the background color as needed */
    color: #fffffe;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* Style for the question heading */
.question h2 {
    color: #fffffe; /* Set the heading color as needed */
    font-size: 20px;
    margin-bottom: 10px;
}

/* Style for the input labels */
.question label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

